{#
/**
 * @file
 * Droopler's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.admin_tabs: Items for node management.
 * - page.content: The main content of the current page.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.footer_sixth: Items for the footer_sixth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - page_attributes: Attributes applied to the page main wrapping tag.
 * - section_attributes: Attributes applied to the page section tag.
 *
 * @see template_preprocess_page()
 * @see redactive_droopler_theme_preprocess_page()
 * @see html.html.twig
 */
#}

{# Determine the main column class - if we just use .row, Slick Slider can push
   the right column below content. #}

{% set mainColumnClass = 'col' %}

{% if page.sidebar_left and page.sidebar_right %}
  {% set mainColumnClass = 'col-lg-6' %}
{% elseif page.sidebar_left or page.sidebar_right %}
  {% set mainColumnClass = 'col-lg-9' %}
{% endif %}

{% set classes = [
  'navbar-wrapper',
] %}

<div{{ page_attributes }}>

  {% if not is_disabled_header and not is_cta_header %}
    {% include '@redactive_droopler_subtheme/includes/header.html.twig' %}
  {% endif %}

  {% if page.highlighted %}
    <div class="highlighted">
      <aside class="container section clearfix" role="complementary">
        {{ page.highlighted }}
      </aside>
    </div>
  {% endif %}

  {% if page.featured_top %}
    {% block featured %}
      <div class="featured-top">
        <aside class="featured-top__inner section container clearfix"
               role="complementary">
          {{ page.featured_top }}
        </aside>
      </div>
    {% endblock %}
  {% endif %}

  {% if page.admin_tabs %}
    {{ page.admin_tabs }}
  {% endif %}

  <div id="main-wrapper" class="layout-main-wrapper clearfix">
    {% block content %}
      {{ page.page_top_content }}

      <div{{ main_attributes.removeClass('py-4') }}>
{#        <div class="clearfix container">#}
          {{ page.breadcrumb }}
          {# Don't add a class of "row" here or Slick slider goes crazy.
             @see https://stackoverflow.com/questions/45735511/slick-slider-gets-wrong-width #}
          {# Edit: seems to not be a problem anymore...? &shrug; #}
          <main{{ main_content_attributes.removeClass('col-12').addClass('row') }}>
{#          <main{{ main_content_attributes }}>#}
{#          <div class="row">#}
            {% if page.sidebar_left %}
              <aside class="layout-sidebar sidebar-left col-lg-3" role="complementary">
                {{ page.sidebar_left }}
              </aside>
            {% endif %}

            <section{{ section_attributes.addClass(mainColumnClass) }}>
              <a id="main-content" tabindex="-1"></a>
              {% if is_cta_header %}
                {{ page.content.messages }}
                <div class="position-relative">
                  {% include '@redactive_droopler_theme/includes/header.html.twig' %}
                  {{ page.content|without('messages') }}
                </div>
              {% else %}
                {{ page.content }}
              {% endif %}
            </section>

            {% if page.sidebar_right %}
              <aside class="layout-sidebar sidebar-right col-lg-3" role="complementary">
                {{ page.sidebar_right }}
              </aside>
            {% endif %}
          </main>
{#          </div>#}
        </div>
{#      </div>#}

      {{ page.page_bottom_content }}
    {% endblock %}
  </div>

  {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
    <div class="featured-bottom">
      <aside class="container clearfix" role="complementary">
        {{ page.featured_bottom_first }}
        {{ page.featured_bottom_second }}
        {{ page.featured_bottom_third }}
      </aside>
    </div>
  {% endif %}

  {% block footer %}
    {% include '@redactive_droopler_subtheme/includes/footer.html.twig' %}
  {% endblock %}
</div>
