//
// @file
// _paragraph--type--aggregator.scss
//
// Contains styles prefixed with .paragraph--type--aggregator which lay out
// Aggregator Paras.
//

.paragraph--type--aggregator {
  .feed {
    .feed-item {
      h3.feed-item-title {
        font-family: $font-header;
        font-weight: $font-header-weight;
        margin-top: 0;

        a {}
      }

      p.feed-item-description {
        position: relative;
        max-height: 200px;
        overflow: hidden;

        &:after {
          // Fade out text when the description is excessively-long.
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), color-stop(10%, rgba(255, 255, 255, 0)));
          background: linear-gradient(180deg, rgb(255, 255, 255, 0) 150px, rgba(255, 255, 255, 1) 100%);
        }
      }

      p.feed-item-description,
      p.feed-item-timestamp {
        font-family: $font-text;
      }
    }
  }
}
