// Article

// Title
.block-page-title-block{
  h1.page-title{
    //font-family: $font-wider-font;
    font-weight: 900;
  }
}

.paragraph--type--section{
  .paragraph--type--heading{
    h3{
      //font-family: $font-wider-font;
      //font-weight: 900;
    }
  }
}

.paragraph--type--wysiwyg{
  .field--name-field-para-wysiwyg-content{
    font-family: $font-field-para-wysiwyg-content;
    font-weight: 400;
  }
}

.paragraph--call-to-action-with-heading-img--text{
  h3{
    font-family: $font-header;
    font-weight: 400;
    color: #000000;
  }
  .paragraph--call-to-action-with-heading-img--cta{
    span{
      @include buttonify(var(--link-colour-inverse), var(--link-colour), left, 100%, 0);
    }
  }
}

.field--name-field-para-cta-link{
  a{
    @include buttonify(var(--link-colour-inverse), var(--link-colour), left, 100%, 0);
  }
}

// Removed - we will use CSS grid.
//.field--name-field-curated-main-content{
//  display: flex;
//  flex-wrap: wrap;
//  .field__item{
//    flex: 1 0 40%;
//    @include media-breakpoint-down(lg) {
//      flex: 1 0 100%;
//    }
//  }
//}

// Removed - this breaks teasers on the homepage.
// @see _redactived8platform-dragdrop-paragraphs-curated-content.scss instead.
//.paragraph--type--curated-content.paragraph--view-mode--default {
//  .field--name-field-curated-main-content {
//    @include simple-grid();
//  }
//}

body[data-route-name="entity.taxonomy_term.canonical"] {
//body {
  .view-taxonomy-term.view-id-taxonomy_term {
    .view-content {
      //display: grid;

      .views-row {
        //margin-bottom: 1rem;

        .teaser-wrapper {
          min-height: 100%;

          //box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

          .teaser {
            //display: flex;
            //flex-flow: row wrap;
            //flex-direction: row;
            //margin: 0;

            .teaser__thumbnail,
            .teaser-thumbnail {
              // Hide the background image.
              //background-size: 0;
              //width: 50%;
            }

            .teaser-content {
              //width: 50%;
              padding: 1.25rem 0.25rem 0.5rem 0.75rem;

              .teaser-teaser-text {
                //display: none;
              }

              .teaser-date {
                display: block;
              }

              .teaser-title {
                //margin-top: 0;
                //margin-bottom: 1rem;
                font-size: 1rem;
                line-height: 1rem;

                a {
                  span {
                    //font-family: $font-condensed-font;
                    //font-weight: 400;
                    //color: #000000;
                  }
                }

                //@include line-style;

                @include media-breakpoint-down(lg) {
                  //font-size: 0.9rem;
                  //line-height: 0.9rem;
                }
              }
            }
          }

          .field--type-entity-reference {
            //margin: 0;
            //padding: 0;

            .field--type-image {
              img {
                //margin: 0;
                //padding: 0;
                //width: 100%;
                //object-fit: contain;
              }
            }
          }
        }

        &:nth-of-type(1) {
          .teaser-wrapper .teaser .teaser-content {
            // Increase padding on first teaser.
            //padding-top: 1.5rem;
            //padding-left: 1rem;
          }
        }

        // Embiggen the first teaser's text.
        &:first-child .teaser-wrapper .teaser .teaser-content .teaser-title {
          font-size: 1.5em;
          line-height: 1.25em;
        }
      }
    }
  }
}


// Category page title.
.field--name-name {
  margin: 2rem 0 1rem 0;
}

.block-page-title-block{
  h1 {
    margin: 3rem 0 2rem 0;
  }
}

// Category labels - e.g. in teasers.
// Tweak layout of labels to reduce padding.
body div[role="article"] > .teaser .child-categories .child-category a.child-category-link {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  font-family: $font-text;
}

// Gated content labels.
body .gated-content-label {
  color: $mid-grey;
  font-family: $font-text;
}

body .gated-content:not(.gated-content--view-mode-full) .gated-content-label,
body .not-gated-content:not(.gated-content--view-mode-full) .gated-content-label {
  // Pull the gated content label above the top of the teaser.
  top: -0.5rem;
  //bottom: 0;
}

// Little tweaks for legacy classes in articles.
.media {
  .file {
    padding: 0;
  }

  &.media-float-left {
    float: left;
  }

  &.media-float-right {
    float: right;
  }
}

// Article image class migrated over from old author pages.
// e.g. @see /authors/rob-thompson
.article-image {
  max-width: 100%;
  float: none;
  margin: 0;
  width: 100%;
  height: auto;
  text-align: center;

  @include media-breakpoint-up(sm) {
    max-width: 50%;
    float: right;
    margin: 1rem 0 1rem 1rem;
    width: unset;
    height: unset;
    text-align: unset;
  }

  @include media-breakpoint-up(md) {
    max-width: 66%;
  }

  @include media-breakpoint-up(lg) {
    max-width: 75%;
  }
}


