// Carousel

.layout-carousel{
  padding: 4rem 4rem 3rem 4rem;
  @include media-breakpoint-down(lg) {
    padding: 2rem 2rem 1rem 2rem;
  }
  background: #e7e7e9;
  background-size: 180px;
  background-repeat: no-repeat;
  .view-content{
    .slick-loading .slick-list {
      background: black center center no-repeat;
    }
    .slick-slide{
      margin: 0 1.25rem;
      @include media-breakpoint-down(lg) {
        margin: 0 0.5rem;
      }
    }
    // Arrows.
    .slick-prev,
    .slick-next {
      height: 50px;
      width: 50px;
      background: white;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      &:not(.slick-disabled):hover,
      &:not(.slick-disabled):focus {
        &:before {
          opacity: 0.8;
        }
      }

      &.slick-disabled {
        cursor: not-allowed;

        &:before {
          opacity: 0.7;
        }
      }

      &:before {
        font-family: sans-serif;
        font-size: 20px;
        line-height: 1;
        opacity: 0.8;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: none;
        color: black;
      }
    }

    .slick-prev {
      left: -25px;

      [dir="rtl"] & {
        left: auto;
        right: -25px;
      }

      &:before {
        content: "";
        width:32px;
        height:32px;
        background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="2 -2 24 24" style="transform: rotate(0deg) rotate(180deg)"><path fill="%23000000" d="M13.02,12c0-0.09-0.04-0.18-0.1-0.24L8.09,6.91C7.96,6.78,7.75,6.77,7.62,6.9  c0,0-0.01,0.01-0.01,0.01L7.09,7.43C6.95,7.56,6.95,7.76,7.07,7.9c0,0,0.01,0.01,0.01,0.01l4.1,4.09L7.1,16.09  c-0.13,0.13-0.14,0.33-0.01,0.47c0,0,0.01,0.01,0.01,0.01l0.52,0.52c0.13,0.13,0.33,0.14,0.47,0.01c0,0,0.01-0.01,0.01-0.01  l4.85-4.85C13,12.17,13.02,12.09,13.02,12L13.02,12z M17.02,12c0-0.09-0.04-0.18-0.1-0.24l-4.83-4.85  c-0.13-0.13-0.33-0.14-0.47-0.01c0,0-0.01,0.01-0.01,0.01l-0.52,0.52c-0.13,0.13-0.14,0.33-0.01,0.47c0,0,0.01,0.01,0.01,0.01  l4.1,4.09l-4.09,4.09c-0.13,0.13-0.14,0.33-0.01,0.47c0,0,0.01,0.01,0.01,0.01l0.52,0.52c0.13,0.13,0.33,0.14,0.47,0.01  c0,0,0.01-0.01,0.01-0.01l4.85-4.85C17,12.17,17.02,12.09,17.02,12L17.02,12z"/></svg>');
        background-repeat: no-repeat;
        background-size: 32px 32px;

        [dir="rtl"] & {
          content: "<";
        }
      }
    }

    .slick-next {
      right: -25px;

      [dir="rtl"] & {
        left: -25px;
        right: auto;
      }

      &:before {
        content: "";
        width:32px;
        height:32px;
        background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 2 24 24"><path fill="%23000000" d="M13.02,12c0-0.09-0.04-0.18-0.1-0.24L8.09,6.91C7.96,6.78,7.75,6.77,7.62,6.9  c0,0-0.01,0.01-0.01,0.01L7.09,7.43C6.95,7.56,6.95,7.76,7.07,7.9c0,0,0.01,0.01,0.01,0.01l4.1,4.09L7.1,16.09  c-0.13,0.13-0.14,0.33-0.01,0.47c0,0,0.01,0.01,0.01,0.01l0.52,0.52c0.13,0.13,0.33,0.14,0.47,0.01c0,0,0.01-0.01,0.01-0.01  l4.85-4.85C13,12.17,13.02,12.09,13.02,12L13.02,12z M17.02,12c0-0.09-0.04-0.18-0.1-0.24l-4.83-4.85  c-0.13-0.13-0.33-0.14-0.47-0.01c0,0-0.01,0.01-0.01,0.01l-0.52,0.52c-0.13,0.13-0.14,0.33-0.01,0.47c0,0,0.01,0.01,0.01,0.01  l4.1,4.09l-4.09,4.09c-0.13,0.13-0.14,0.33-0.01,0.47c0,0,0.01,0.01,0.01,0.01l0.52,0.52c0.13,0.13,0.33,0.14,0.47,0.01  c0,0,0.01-0.01,0.01-0.01l4.85-4.85C17,12.17,17.02,12.09,17.02,12L17.02,12z"/></svg>');
        background-repeat: no-repeat;
        background-size: 32px 32px;

        [dir="rtl"] & {
          content: ">";
        }
      }
    }

    // Dots.
    .slick-dotted.slick-slider {
      margin-bottom: 30px;
    }

    .slick-dots {
      li {
        button {
          &:hover,
          &:focus {
            &:before {
              opacity: 0.9;
            }
          }

          &:before {
            background: var(--link-colour) !important;
            height: 15px !important;
          }
        }

        &.slick-active button:before {
          opacity: 0.8;
        }
      }
    }
  }
  .magazine-issue-title-and-prefix-wrapper {
    @include buttonify(var(--link-colour-inverse), var(--link-colour), left, 100%, 0);

    margin: 0 0 1em 0;
    padding: 0.5em 1em;
    align-self: center;
    justify-content: center;
    min-height: 40px;
    line-height: 1;
  }
}

.paragraph--type--image-carousel{
  .carousel-slides-multiple{
    h2{
      @include media-breakpoint-down(lg){
        font-size: 1.6rem !important;
        line-height: 1.6rem !important;
      }
    }
    .slick-slide{
      margin: 0;
    }
    // Arrows.
    .slick-prev,
    .slick-next {
      height: 50px;
      width: 50px;
      background: white;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      &:not(.slick-disabled):hover,
      &:not(.slick-disabled):focus {
        &:before {
          opacity: 0.8;
        }
      }

      &.slick-disabled {
        cursor: not-allowed;

        &:before {
          opacity: 0.7;
        }
      }

      &:before {
        font-family: sans-serif;
        font-size: 20px;
        line-height: 1;
        opacity: 0.8;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: none;
        color: black;
      }
      @include media-breakpoint-down(lg){
        display: none;
      }
    }

    .slick-prev {
      left: 25px;

      [dir="rtl"] & {
        left: auto;
        right: 25px;
      }

      &:before {
        content: "";
        width:32px;
        height:32px;
        background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="2 -2 24 24" style="transform: rotate(0deg) rotate(180deg)"><path fill="%23000000" d="M13.02,12c0-0.09-0.04-0.18-0.1-0.24L8.09,6.91C7.96,6.78,7.75,6.77,7.62,6.9  c0,0-0.01,0.01-0.01,0.01L7.09,7.43C6.95,7.56,6.95,7.76,7.07,7.9c0,0,0.01,0.01,0.01,0.01l4.1,4.09L7.1,16.09  c-0.13,0.13-0.14,0.33-0.01,0.47c0,0,0.01,0.01,0.01,0.01l0.52,0.52c0.13,0.13,0.33,0.14,0.47,0.01c0,0,0.01-0.01,0.01-0.01  l4.85-4.85C13,12.17,13.02,12.09,13.02,12L13.02,12z M17.02,12c0-0.09-0.04-0.18-0.1-0.24l-4.83-4.85  c-0.13-0.13-0.33-0.14-0.47-0.01c0,0-0.01,0.01-0.01,0.01l-0.52,0.52c-0.13,0.13-0.14,0.33-0.01,0.47c0,0,0.01,0.01,0.01,0.01  l4.1,4.09l-4.09,4.09c-0.13,0.13-0.14,0.33-0.01,0.47c0,0,0.01,0.01,0.01,0.01l0.52,0.52c0.13,0.13,0.33,0.14,0.47,0.01  c0,0,0.01-0.01,0.01-0.01l4.85-4.85C17,12.17,17.02,12.09,17.02,12L17.02,12z"/></svg>');
        background-repeat: no-repeat;
        background-size: 32px 32px;

        [dir="rtl"] & {
          content: "<";
        }
      }
    }

    .slick-next {
      right: 25px;

      [dir="rtl"] & {
        left: 25px;
        right: auto;
      }

      &:before {
        content: "";
        width:32px;
        height:32px;
        background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 2 24 24"><path fill="%23000000" d="M13.02,12c0-0.09-0.04-0.18-0.1-0.24L8.09,6.91C7.96,6.78,7.75,6.77,7.62,6.9  c0,0-0.01,0.01-0.01,0.01L7.09,7.43C6.95,7.56,6.95,7.76,7.07,7.9c0,0,0.01,0.01,0.01,0.01l4.1,4.09L7.1,16.09  c-0.13,0.13-0.14,0.33-0.01,0.47c0,0,0.01,0.01,0.01,0.01l0.52,0.52c0.13,0.13,0.33,0.14,0.47,0.01c0,0,0.01-0.01,0.01-0.01  l4.85-4.85C13,12.17,13.02,12.09,13.02,12L13.02,12z M17.02,12c0-0.09-0.04-0.18-0.1-0.24l-4.83-4.85  c-0.13-0.13-0.33-0.14-0.47-0.01c0,0-0.01,0.01-0.01,0.01l-0.52,0.52c-0.13,0.13-0.14,0.33-0.01,0.47c0,0,0.01,0.01,0.01,0.01  l4.1,4.09l-4.09,4.09c-0.13,0.13-0.14,0.33-0.01,0.47c0,0,0.01,0.01,0.01,0.01l0.52,0.52c0.13,0.13,0.33,0.14,0.47,0.01  c0,0,0.01-0.01,0.01-0.01l4.85-4.85C17,12.17,17.02,12.09,17.02,12L17.02,12z"/></svg>');
        background-repeat: no-repeat;
        background-size: 32px 32px;

        [dir="rtl"] & {
          content: ">";
        }
      }
    }

    // Dots.
    .slick-dotted.slick-slider {
      margin-bottom: 30px;
    }

    .slick-dots {
      li {
        button {
          &:hover,
          &:focus {
            &:before {
              opacity: 0.9;
            }
          }

          &:before {
            background: var(--link-colour) !important;
            height: 15px !important;
          }
        }

        &.slick-active button:before {
          opacity: 0.8;
        }
      }
    }
  }
}
