// Content.

body{
  font-family: $font-header;
  font-weight: 400;
}

.page-wrapper {
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
    font-weight: normal;
  }
}

// Allow taxonomy listings to expand to the page's width on mobile/tablet.
@include media-breakpoint-down($navbar-mobile-breakpoint-down) {
  #main-wrapper {
    > .container.py-4 {
      > .row.clearfix.container {
        max-width: unset;
        //padding: 0;
        margin: 0;
      }
    }
  }
}

// Long selector to override CSS provided by the profile.
body .paragraph--type--image-carousel.paragraph--view-mode--default ul.image-carousel li.image-carousel-slide .paragraph--type--image-carousel-slide .carousel-slide-text-overlay h2 {
  font-family: $font-header;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;

  @include media-breakpoint-up(lg) {
    font-size: 3rem;
    line-height: 3rem;
  }
}

// The headline article and three top-news teasers two column block under the
// hero banner.
.homepage-headline-and-top-news .layout--twocol-section {
  // Top Teaser
  .layout__region--first{
    .field--name-field-curated-main-content{
      box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
      .teaser-title{
        font-size: 1.8rem;
        line-height: 1.8rem;
        @include media-breakpoint-down(lg){
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
        a{
          span{
            font-family: $font-text;
            font-weight: 400;
            color: #000000;
          }
        }
        @include line-style;
      }
      .teaser{
        display: flex;
        flex-flow: row wrap;
        flex-direction: row-reverse;
        .teaser__thumbnail,
        .teaser-thumbnail {
          background-size: 0;
          width: 50%;
        }
        .teaser-content{
          width: 50%;
          padding: 2rem;
          .teaser-teaser-text{
            font-size: 1.2rem;
            font-family: $font-text;
            color: grey;
            line-height: 1.2rem;
            font-weight: 300;
            //@include line-style;
            @include media-breakpoint-down(lg){
              font-size: 0.9rem;
              line-height: 0.9rem;
            }
          }
          .teaser-date{
            display: none;
          }
        }
      }

      .field--type-entity-reference{
        margin: 0;
        padding: 0;
        .field--type-image{
          img{
            margin: 0;
            padding: 0;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
    .paragraph--type--heading{
      h2{
        font-family: $font-header;
        font-weight: 400;
        font-size: 2rem;
      }
    }
  }

  // Right three teasers.
  .layout__region--second{
    //padding-top: 1.8rem; <-- Removed - breaks homepage.

    .teaser-heading {
      font-family: $font-text;
      font-weight: 400;
      color: var(--link-colour);
      font-size: 1.7rem;
      margin: 1rem 0;
      @include header-style;
    }

    .views-row {
      margin-bottom: 1rem;
    }

    .teaser-wrapper {
      .teaser {
        display: flex;
        flex-wrap: wrap;

        .teaser__thumbnail,
        .teaser-thumbnail {
          width: 35%;
          background-size: 0;

          .field--type-entity-reference {
            margin: 0;
            padding: 0;

            .field--type-image {
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

              img {
                margin: 0;
                padding: 0;
                width: 100%;
                object-fit: contain;
              }
            }
          }
        }

        .teaser-content {
          width: calc(65% - 0.5rem);
          margin-left: 0.5rem;
          padding: 0.5rem 0.5rem 0 0.5rem;

          h2.teaser-title {
            line-height: 1;
            font-size: 1rem;
            margin-top: 0;

            a {
              span {
                font-family: $font-header;
                font-weight: 400;
                color: black;
                font-size: 1rem;
                //@include line-style;
              }
            }

          }

          .teaser-date {
            display: none;
          }

          .teaser__content-second {
            display: none;
          }
        }
      }
    }
  }
}

// Main content teasers.
.paragraph--type--heading{
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include header-style;

    &,
    span,
    a {
      font-family: $font-header;
      font-weight: 400;
      color: lighten($link-colour, 15%);
    }

    a {
      color: var(--link-colour);

      // Exploring a couple of underline options below...
      //text-decoration: underline $link-colour solid 1px;
      //text-underline-offset: 0.3em;

      &:hover {
        //text-decoration-thickness: 2px;
      }
    }
  }
}

.case-and-decisions {
  margin-bottom: 2rem;
}
  .teaser-wrapper{
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

    // Equal height teasers.
    height: 100%;

    .teaser{
      display: flex;
      flex-flow: row wrap;
      flex-direction: row;
      margin: 0em;
      .teaser__thumbnail,
      .teaser-thumbnail {
        background-size: 0;
        width: 50%;
      }
      .teaser-content{
        width: 50%;

        // Top padding min 1rem to clear gated content labels.
        padding: 1rem 0.5rem 0 0.5rem;

        @include media-breakpoint-up(md) {
          padding: 1rem 1rem 0 1rem;
        }
        @include media-breakpoint-up(lg) {
          padding: 1.5rem 1.5rem 0 1.5rem;
        }
        .teaser-teaser-text{
          display: none;
        }
        .teaser-date{
          // Hide dates by default; we show them on taxonomy landing pages.
          display: none;
          span.date-created {
            font-family: $font-text;
          }
        }
        .teaser-title{
          font-size: 1rem;
          line-height: 1rem;

          @include media-breakpoint-up(md){
            font-size: 1.2rem;
            line-height: 1.2rem;
          }

          @include media-breakpoint-up(lg){
            font-size: 1.3rem;
            line-height: 1.3rem;
          }

          a {
            font-family: $font-text;
          }

          // Make teaser title links and any contained <span>s black.
          a,
          a * {
            color: $black;
          }

          @include line-style;
        }
      }
    }
    .field--type-entity-reference{
      margin: 0;
      padding: 0;
      .field--type-image{
        img{
          margin: 0;
          padding: 0;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .paragraph--type--topicpanels {
    .teaser-wrapper {
      .teaser {
        .teaser-content {
          // Smaller teaser padding on topic panels.
          padding: 1em 0.5em 0 0.5em;

          // ... and a smaller title on tablet/desktop+.
          @include media-breakpoint-up(md) {
            .teaser-title {
              font-size: 1.1rem;
              line-height: 1.1rem;
            }
          }
        }
      }
    }
  }

// Topic teasers

.pad-left-and-right--removed {
  margin-bottom: 2rem;

  .layout--fourcol-section {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      padding: 0 12px 0 12px;
      .layout__region {
        flex: 0 1 48%;
      }
    }

    @include media-breakpoint-up(lg) {
      .layout__region {
        flex: 0 1 24%;
      }
    }
  }

  .panel-heading {
    display: none;
  }
}
  .topic-panels{
    // Green title in topics
    .topic-panel-name{
      line-height: 1;
      font-size: 1.2rem;
      margin: 1.2rem 0 2rem 0;
      a{
        font-family: $font-text;
        font-weight: 400;
        color: var(--link-colour);
        //font-size: 1.2rem;
      }
    }
    .topic-panel-teasers{
      .view-content{
        @include media-breakpoint-up(md) {
          display: flex;
          flex-wrap: wrap;
          //gap: 1rem;
        }

        .views-row{
          h2.teaser-title{
            //border-top: 1px solid black;
            //font-size: 1rem;
            //padding-top: 1.2rem; <-- removed. Why was this here?

            a{
              span{
                font-family: $font-header;
                font-weight: 400;
                //color: grey;
                //font-size: 1rem;
              }
            }
          }
          //.teaser-date{
          //  display: none;
          //}

          margin-bottom: 1rem;
        }
        //.teaser__content-second{
        //  display: none;
        //}
      }
    }
    .topic-panel-image{
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      .field--type-entity-reference{
        margin: 0;
        padding: 0;
        .field--type-image{
          img{
            margin: 0;
            padding: 0;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
    .topic-panel-read-more{
      @include buttonify(var(--link-colour-inverse), var(--link-colour), left, 100%, 0, 0, 0);
    }
  }
//}

// Bibblio teaser

.bibblio-teaser{
  margin: 2rem 0;
  .field--name-field-para-wysiwyg-content{
    h2{
      font-family: $font-text;
      font-weight: 400;
      color: var(--link-colour);
      font-size: 2rem;
      @include header-style;
    }
  }
}
.paragraph--type--bibblio{
  .bib--split{
    a.bib__link {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    }
    .bib__info{
      padding: 1.2rem !important;
      font-family: $font-text;
      font-size: 1.2rem !important;
      line-height: 1.2rem !important;
      font-weight: 400 !important;
      height: 120px;
      @include line-style;
    }
  }
}

.page-wrapper{
  h2.panelHead{
    margin: 2rem 0;
    @include header-style;
    font-family: $font-header;
    font-weight: 400;
    color: var(--link-colour);
    font-size: 2rem;
    &:after{
      margin-left: 20px;
    }
  }
}

// RTPI section

.field--name-field-para-aggregator-fid{
  .contextual-region{
    display: flex;
    flex-wrap: wrap;
    .feed-item{
      flex: 40%;
      padding: 0.5rem 1rem;
      margin: 0 1rem 1rem 0;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      @include media-breakpoint-down(lg) {
        flex: 100%;
        margin: 0 0 1rem 0;
      }
      h3{
        line-height: 0.8rem;
        a{
          font-family: $font-header;
          font-weight: 400;
          color: var(--link-colour);
          font-size: 1.2rem;
        }
      }
      .feed-item-description{
        font-size: 0.8rem;
      }
    }
  }
}

a.call-to-action{
  @include buttonify(var(--link-colour-inverse), var(--link-colour), center, 270px, 0);
}

a.para-latest-podcasts-link{
  @include buttonify(var(--link-colour-inverse), var(--link-colour), center, 270px, auto);
}

// How many times do I have to set background-size: 0 on teasers?!
.teaser-thumbnail {
  background-size: 0;
}

// Hide the "Categories" breadcrumb.
.redactive-breadcrumbs ul.redactive-breadcrumb .taxonomy-vocabulary-vid-categories {
  display: none;
}

// Tweak padding of teasers in curated content lists.
// @todo: this should probably be in a better location.
@media (min-width: 992px) {
  .paragraph--type--teasers-panel-6a:not(.layout-carousel) .view-content .views-row > div[role=article] > .teaser > .teaser-content {
    padding: 1rem 1rem 0 1rem;
  }
}
