// Footer.
//
// Styleguide 3.3

// Colour variables used in this file.
$footer-background: black;
$footer-text-color: white;
$footer-header-color: $link-colour;
$footer-header-margin: 0 0 1rem 0;
$footer-menu-item-padding: 0 0 1rem 0;
$footer-list-item-padding: 0 0 0.2rem 0;
$footer-link-hover: $link-colour;
$font-family-base: 1rem;
$font-size-vlg: 1.2rem;
$font-size-sm: 0.8rem;
$font-size-mdlg: 0.7rem;

@mixin font-footer-header {
  font-size: $font-size-vlg;
  text-transform: uppercase;
  margin: $footer-header-margin;
  @include media-breakpoint-down(sm) {
    font-size: $font-size-mdlg;
  }
}
@mixin font-footer-body {
  font-size: 1rem;
  @include media-breakpoint-down(sm) {
    font-size: $font-size-sm;
  }
}

.featured-bottom{
  background: silver;
}

footer {
  &.site-footer {
    font-family: $font-text;

    .block {
      border: none;
    }
    .site-footer-blocks{
      @include media-breakpoint-up(md) {
        @include footer-style;
      }
    }

    .site-footer-blocks {
      // Remove right padding on footer links lists for a little extra space.
      > div {
        padding-right: 0;
      }

      .region {
        h2 {
          @include font-footer-body;
          font-weight: bold;
          color: $footer-header-color;
          margin: $footer-header-margin;
        }

        .footer-links-heading {
          color: var(--link-colour-inverse);
          font-size: $font-size-vlg;
          font-family: $font-text;
          font-weight: 400;
          margin-bottom: 1.5rem;
          padding-left: 1rem;
          border-left: solid 1px var(--link-colour);
          white-space: pre;
        }

        .content {
          color: $footer-text-color;
        }

        .footer-links-list {
          padding-left: 1rem !important;
        }

        // Menu block.
        .block-menu {
          ul {
            display: block;

            li a {
              padding: $footer-list-item-padding;
              color: $footer-text-color;

              &:hover, &:active, &:focus {
                color: $footer-link-hover;
                background-color: transparent;
              }
            }
          }

          h2.sr-only ~ ul li a {
            padding: $footer-menu-item-padding;
            color: var(--link-colour);
            font-weight: bold;
          }
        }

        // Custom content block.
        .block-block-content {
          ul {
            list-style-type: none;
            padding: 0;
            display: block;

            li {
              padding: $footer-list-item-padding;

              a {
                background-color: $footer-background;
                color: $footer-text-color;

                &:hover, &:active, &:focus {
                  color: $footer-link-hover;
                }
              }
            }
          }
        }
      }
    }
    .bottom-footer{
      background: black;
      margin:0;
      padding:0;
    }
  }

  background: $footer-background;
  color: $footer-text-color;
  .region-footer-first{
    &>div{
      width: 100px;
    }
  }
  .region-footer-main {
    h2 {
      @include font-footer-header;
      color: $footer-text-color;
    }
    p {
      @include font-footer-body;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .block {
      text-align: center;
      border: 0;
    }
  }

  .social-media-wrapper {
    ul {
      padding: 0;
    }
    .icons-wrapper {
      .icon {
        padding-left: 0;
        &::before {
          margin: 0;
        }
      }
    }
  }
  // .block-footercopyright{
  //   margin: 0;
  // }
  .region-footer-main{
    .block {
      margin: 0;
    }
  }
  .footer-return-to-homepage{
    background-size: 98px;
    background-repeat: no-repeat;
    display: flex;
    width: 110px;
    height: 110px;
    text-indent:-99999em;
    overflow:hidden;
  }
}

// Cookies bar

div#sliding-popup{
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  @include media-breakpoint-down(lg) {
    padding: 2rem;
    font-size: 0.8rem;
  }
  // .eu-cookie-compliance-categories-buttons, .eu-cookie-compliance-has-categories{
  //   margin: 0;
  // }
}

.footer-three-column-calls-to-action{
  margin: 0.25rem 0 0 0;
  padding: 1rem 0;

  @include media-breakpoint-up(md) {
    margin-bottom: -1rem;
    padding-top: 0.25rem;
    padding-bottom: 0;
  }

  .field--type-entity-reference{
    margin: 0;
  }

  .paragraph--type--call-to-action-with-heading-img {
    .paragraph--call-to-action-with-heading-img--image {
      display: flex;

      .field--name-field-media-image {
        width: 128px;
      }
    }

    .paragraph--call-to-action-with-heading-img--text {
      &,
      h3,
      p {
        font-family: $font-text;
        color: $white;
      }

      line-height: $font-header-title-line-height;
      padding: 0.75rem 0 0 0.5rem;

      h3 {
        font-weight: 400;
        font-family: $font-header;
        line-height: $font-header-title-line-height;
        font-size: 1.2rem;
      }

      p {
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 0.9rem;
      }
    }

    // Set the H3 colour in the CTA Paragraph when it has a link.
    &.paragraph--view-mode--default.has-link .paragraph--call-to-action-with-heading-img--text h3 {
      color: var(--link-colour);
    }
  }
}
