// Global.
//
// Styleguide 3.1

// Paddings, margins and heights.

.page-wrapper {
  #main {
    // Pull page content a bit wider on mobile. These overrides are a bit of a
    // kludge - @todo: do a better job of getting mobile page content to fill the
    // width of the page.
    > .row {
      > main.row.main-content {
        // The following overrides break page layouts where the width of the
        // content needs to be limited - e.g. full-width carousels and images.
        //width: unset;
        //max-width: 100vw;
      }
    }

    @include media-breakpoint-down(lg) {
      //margin-right: -15px;
      margin-left: 0;
      width: unset;
      padding-left: 0;
      padding-right: 0;

      > .row {
        width: unset;
        margin-right: unset;
        margin-left: unset;

        > main.row.main-content {
          width: unset;
          max-width: 100vw;
          padding-left: 0;
          padding-right: 0;

          > .section.col {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      > .row {
        > main.row.main-content {
          width: 100%;

          > .section.col {
          }
        }
      }
    }

    .node__content {
      margin-top: 0;
    }
  }

  // Position relative is needed for the sticky header.
  position: relative;

  min-width: $page-min-width;
  img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    @include font-main-header-big;
  }
  h2 {
    @include font-main-header;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-header;
    font-weight: $font-header-weight;
  }
  p, ul, ol {
    // Unset font-size overrides.
    @include unset-font-body-standard;
  }
  a:not(.btn) {
    //word-wrap: break-word;
    //hyphens: auto;
  }
  div.field--name-field-d-main-title {
    line-height: $headings-line-height;
  }
}
.no-padding {
  padding: 0;
  @include media-breakpoint-down(sm) {
    &-sm {
      padding: 0;
    }
  }
  @include media-breakpoint-down(md) {
    &-md {
      padding: 0;
    }
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

.row::before, .row::after {
  width: 0px;
  height: 0px;
}

.paragraph {
  color: $color-hecuba;

  // Be careful overriding basic elements' colours in .paragraph elements. If you
  // change the below to .paragraph b, .paragraph strong, the colour override
  // also affects link colours and you will end up chasing your tail trying to
  // get links and strongs to be the right colour. Gah.
  b, strong {
    color: $color-troilus;
  }

  a,
  a * {
    color: var(--link-colour);

    &:hover {
      text-decoration: underline;
      // Disabling the below - it's nice but not in brand styles. :-(
      //text-decoration-style: dotted;
    }

    // Fix the above rule breaking a.btn-primary in Paragraph pages.
    &.btn-primary {
      color: var(--link-colour-inverse);
      background-color: var(--link-colour);
      border-color: var(--link-colour);
    }
  }
}

.header-section {
  article {
    .paragraph-sections {
      section {
        .paragraph {
          @include media-breakpoint-down($navbar-mobile-breakpoint-down) {
            &--type--d-p-side-image,
            &--type--d-p-side-embed {
              padding-top: 0;
            }
          }

          @include media-breakpoint-between(md, $navbar-mobile-breakpoint-down) {
            &--type--d-p-side-image,
            &--type--d-p-side-embed {
              .content-inside-wrapper {
                padding-top: 15%;
              }
            }
          }
        }
      }
    }
  }
}

.landing-page-header {
  position: relative;

  .hanging-header {
    position: absolute;
    width: 100%;
    z-index: 9;
    top: 20px;
    left: 0;
    right: 0;
    padding-bottom: 20px;
  }

  .d-content-cta-wrapper {
    &, .btn {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
