// Header

header.header {
  background-color: $black;

  a.site-logo {
    padding: 0.5rem;
    display: inline-block;
  }

  //.site-logo {
  //  margin-top: 0.5rem;
  //  margin-bottom: 0.5rem;
  //
  //  img {
  //    max-width: 100%;
  //    @include media-breakpoint-down(lg) {
  //      max-height: 4rem !important;
  //    }
  //  }
  //}

  //.region-primary-menu {
  //  position: relative;
  //
  //  display: flex;
  //  flex-direction: row;
  //  flex-wrap: wrap;
  //  justify-content: space-between;
  //  margin-top: 0 !important;
  //
  //  nav {
  //    display: unset;
  //    align-items: unset;
  //
  //    @include media-breakpoint-up(lg) {
  //      display: flex;
  //      align-items: center;
  //    }
  //  }
  //}

  //.navbar-toggler {
  //  margin-top: -30px;
  //}

  //.navbar-brand {
  //  // max-width: $logo-width;
  //  //height: 138px;
  //  align-items: flex-start;
  //  flex-basis: 100%;
  //
  //  @include media-breakpoint-down(lg) {
  //    //height: 108px;
  //  }
  //
  //  .logo-svg {
  //    // @include font-body-standard;
  //  }
  //}

  //&:after {
  //  content: "";
  //  border-bottom: 1px solid $link-colour;
  //  padding-bottom: 0.25rem;
  //  display: flex;
  //  background: white;
  //  margin-top: -2rem;
  //}

  //@include media-breakpoint-down(lg) {
  //  #navbar-nav {
  //    & > div {
  //      background: black;
  //    }
  //  }
  //}
  .region-primary-menu,
  .region-secondary-menu {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
}

//@include media-breakpoint-up(lg) {
//  // Tweak width of logo and navbar on desktop.
//  header.header nav.main-navbar {
//    width: calc(75% - 1rem);
//  }
//
//  header.header .navbar-brand {
//    width: calc(20% - 1rem);
//  }
//}

.header-three-column-calls-to-action {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
    margin-top: 0.25rem;
    border-top: 1px solid var(--link-colour);
    padding: 0.25rem 0 0 15%;
    width: 100%;

    // Make sure content in the 3 column calls to action block doesn't drop off
    // the bottom of the block.
    .layout {
      @include clearfix();
    }

    .field--type-entity-reference {
      margin: 0;
    }

    .paragraph--type--call-to-action-with-heading-img {
      .paragraph--call-to-action-with-heading-img--image {
        display: flex;
        flex-basis: 25% !important;

        .field--name-field-media-image {
          width: 100px;
        }
      }

      .paragraph--call-to-action-with-heading-img--text {
        line-height: $font-header-title-line-height;
        padding: 0.75rem 0 0 0.5rem;

        h3 {
          color: var(--link-colour) !important;
          font-weight: 400;
          font-family: $font-header;
          line-height: $font-header-title-line-height;
          font-size: 1.1rem;
          margin: 0;
        }

        p {
          color: $white;
          font-family: $font-text;
          font-weight: 300;
          font-size: 0.9rem;
          line-height: 1rem;
          margin: 0.2rem 0 0 0;
        }
      }
    }
  }
}

// Sticky header. Mobile header should be fixed to the top of the page all the
// time.
// @todo: this whole file is a disorganised mess - it urgently needs to be reorganised into mobile-first, then tablet, then desktop and upwards styles.
.header {
  //transition: 0.2s;

  > .container {
    display: flex;

    // Remove default left and right padding up to tablet.
    @include media-breakpoint-down(md) {
      padding-left: 0;
      padding-right: 0;
    }

    // Site logo mobile width.
    .region-branding {
      width: 50%;
    }

    // Menu container temporarily hidden on mobile until we can sort mobile
    // menu behaviour.
    nav.region-menus {
      display: none;
    }

    //@include media-breakpoint-up(md) {
    //  // Site logo up to 75% width on mobile.
    //  .region-branding {
    //    width: 50%;
    //  }
    //
    //  nav.region-menus {
    //    width: 50%;
    //    display: flex;
    //
    //    .region-primary-menu {
    //      width: 75%;
    //    }
    //
    //    .region-secondary-menu {
    //      width: 25%;
    //    }
    //  }
    //}

    @include media-breakpoint-up(lg) {
      // Site logo up to 75% width on mobile.
      .region-branding {
        width: 20%;
      }

      nav.region-menus {
        display: flex;
        width: 80%;

        .region-primary-menu {
          width: 75%;
        }

        .region-secondary-menu {
          width: 25%;
        }
      }
    }

    // Expand <nav>s to full width by default.
    .region nav {
      width: 100%;

      ul.nav {
        width: 100%;
      }
    }

    // Show menus horizontally on tablet+.
    @include media-breakpoint-up(md) {
      ul.navbar-nav {
        flex-direction: row;
      }
    }
  }

  &.header-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    // Z-index one higher than cookie consent. Also see Admin Toolbar
    // adjustments below.
    z-index: 1001;
  }

  // This class is added when the user has scrolled down the page a certain
  // amount.
  &.header-scrolled-from-top {
    // We only adjust the header height on tablet and up.
    @include media-breakpoint-up(lg) {
      //height: 80px;
      //max-height: 80px;
      //transition: all 0.1s ease-out;

      #block-headerfooterthreecolumncallstoaction {
        display: none;
      }
      .navbar-brand {
        //height: 70px;
      }
      .navbar-inner {
        //width: 100%;

        .region-primary-menu {
          //width: 100%;
        }
      }
      .site-logo img {
        //max-width: 100%;
        //max-height: 65px;
      }
      &:after {
        //content: "";
        //margin-top: 0.3rem;
        @include media-breakpoint-down(lg) {
          //margin-top: 0;
        }
      }
      & > nav.navbar-wrapper {
        .menu-region {
          //padding: 0;
          //display: flex;
          //width: 100%;
          //align-items: center;
          //justify-content: space-between;
        }
      }
    }
  }
}

//@include media-breakpoint-up(lg) {
//  .header.sticky {
//    //height: 80px;
//
//    #block-headerfooterthreecolumncallstoaction {
//      display: none;
//    }
//
//    .navbar-brand {
//      //height: 70px;
//    }
//
//    .navbar-inner {
//      width: 100%;
//
//      .region-primary-menu {
//        width: 100%;
//      }
//
//      // Override the default flex-direction column.
//      flex-direction: row-reverse;
//    }
//
//    .site-logo img {
//      max-width: 100%;
//      //max-height: 65px;
//    }
//
//    &:after {
//      content: "";
//      margin-top: 0.3rem;
//      @include media-breakpoint-down(lg) {
//        margin-top: 0;
//      }
//    }
//
//    & > nav.navbar-wrapper {
//      .menu-region {
//        padding: 0;
//        display: flex;
//        width: 100%;
//        align-items: center;
//        justify-content: space-between;
//      }
//    }
//  }
//
//  .sticky {
//    position: fixed;
//    top: 0;
//    width: 100%;
//    z-index: 100;
//  }
//
//  .sticky + .content {
//    padding-top: 102px;
//  }
//}

// Fixes to prevent admin toolbar disappearing under mobile menu.
body .toolbar-oriented .toolbar-bar {
  z-index: 1003;
}

@media (min-width: 61em) {
  body.gin--horizontal-toolbar #toolbar-administration {
    z-index: 1002;
  }
}
