//
// @file
// menu_layout.scss
//

// Prefix all selectors with body to override the existing styles in the
// base theme.
// @todo: there is probably a cleaner way to do this...
body {
  ul.main-menu {
    > li.nav-item {
      > div {
        // Un-style lists in <div>s (e.g. megamenus) by default...
        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          > li {
            // ... but indent sub-lists to indicate hierarchy.
            > ul {
              padding-left: 1rem;
              list-style-type: initial;
            }
          }
        }
      }
    }
  }

  nav.navigation {
    > ul.nav {
      // Reset dropdown annoyingness.
      .dropdown-menu {
        //background: unset;
        border: unset;
        padding: unset;
        margin: unset;
        border-radius: unset;
      }

      .dropdown-item {
        padding: 0;
        word-break: normal;
        white-space: normal;

        &:hover {
          background-color: unset;
        }
      }
    }

    &.menu--account {
      display: flex;

      @include media-breakpoint-down(lg) {
        padding: 0;
        display: block;
        width: 100%;
        text-align: center;
      }

      .mobile-menu-open-close-control {
        display: none;
      }

      ul.nav {
        display: flex;
        align-items: center;
        justify-content: right;

        .nav-item {
          a.nav-link {
            text-indent: -10000rem;
            display: inline-block;
            width: 32px;
            height: 32px;
            background-size: 32px;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            overflow: visible;
            background-position: center;

            &:hover {
              color: inherit;
              background-color: transparent;
            }
          }

          // Mobile menu styles - show text, borders, larger padding.
          @include media-breakpoint-down(lg) {
            margin: 1rem 0;
            max-width: 33%;

            &:not(:last-child) {
              border-right: $white 1px solid;
            }

            a.nav-link {
              text-indent: unset;
              //margin-left: 0;
              //margin-right: 0;
              padding: 30px 1rem 0 1rem;

              min-height: 32px;
              width: unset;
              height: unset;
              background-position: top center;
              color: $black;
              font-size: 0.75rem;
            }
          }

          //
          // Icons.
          //

          // The "silhouette of a person's upper body" icon - used for login/
          // register/my account links.

          // Note that we have to match on classes which contain
          // "menulinkpath--login" because the class also includes the destination
          // parameter which changes on every page.
          &[class*="menulinkpath--login"] a.nav-link,
          &.menulinkpath--user a.nav-link {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="1 0 26 26"><path fill="%23FFFFFF" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>');
          }

          &.menulinkpath--user-logout a.nav-link {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="2 1 72 72"><path fill="%23FFFFFF" d="M59.1,30c-4.8-4.6-9.6-9.2-14.4-13.8c-0.3-0.3-0.6-0.6-0.9-0.8c-1.8-1.4-4-0.4-4.2,1.8 c-0.1,1.6-0.1,3.3-0.1,4.9c0,1.1,0,2.1,0,3.3c-4.7,0-9.2,0-13.6,0c-2.8,0-4,1.2-4,4.1c0,1.9,0,3.8,0,5.6c0,3.4,1.1,4.5,4.5,4.5 c4.3,0,8.6,0,13.1,0c0,0.6,0.1,1.2,0.1,1.7c0,2,0,4.1,0,6.1c0.1,1.8,1.5,3.1,3.1,2.7c0.7-0.2,1.4-0.7,2-1.2 c4.9-4.6,9.7-9.2,14.6-13.9C61.1,33.2,61,31.9,59.1,30z M21.5,50.4c-2.2,0-4.3,0-6.5,0c-2.5,0-3.9-1.2-3.9-3.8 c0-9.4-0.1-18.8,0-28.2c0-2.5,1.4-3.7,3.8-3.7c2.3,0,4.5,0,6.8,0c2.2,0,3.5-1.5,3.5-3.6c0-2-1.3-3.4-3.4-3.5 c-2.4-0.1-4.8-0.1-7.2,0c-5.9,0.3-10,4.2-10.3,10.1c-0.2,4.9,0,9.8,0,14.7c0,0,0,0,0,0c0,5.1-0.1,10.3,0,15.4 c0.1,4.2,3.1,8.1,7.2,8.9c3.3,0.7,6.7,0.5,10.1,0.6c2.3,0.1,3.7-1.4,3.7-3.5C25.2,51.8,23.8,50.5,21.5,50.4z"/></svg>');
          }

          // Match links pointing to Twitter.
          &[class*="menulinkpath-https-twitter-com"] a.nav-link {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 21 21"><path fill="%23FFFFFF" d="M17.33,9c-0.29,0.44-0.66,0.82-1.09,1.13c0,0.09,0,0.19,0,0.28c0.01,1.22-0.34,2.41-1,3.44  c-0.34,0.54-0.76,1.04-1.24,1.46c-0.52,0.44-1.11,0.77-1.75,1c-0.7,0.25-1.44,0.38-2.19,0.37c-1.19,0-2.35-0.35-3.35-1  c0.17,0.01,0.35,0.01,0.52,0c0.99,0.01,1.95-0.33,2.72-0.94c-0.46,0-0.91-0.16-1.27-0.44c-0.36-0.27-0.64-0.65-0.78-1.08h0.41  c0.18,0,0.36-0.03,0.53-0.08c-0.5-0.09-0.95-0.36-1.28-0.75C7.22,12.03,7.02,11.56,7,11.07l0,0c0.31,0.16,0.65,0.25,1,0.27  c-0.61-0.41-0.95-1.11-0.9-1.84c0-0.39,0.1-0.77,0.3-1.1c1.12,1.37,2.76,2.2,4.52,2.29c-0.04-0.16-0.05-0.33-0.05-0.5  c0-1.21,0.97-2.18,2.18-2.19c0.61-0.01,1.19,0.24,1.59,0.69c0.48-0.1,0.94-0.28,1.36-0.53c-0.16,0.52-0.52,0.96-1,1.22  C16.46,9.32,16.91,9.19,17.33,9L17.33,9z M19.12,4.86C18.56,4.29,17.79,3.98,17,4H7C5.34,4,4,5.34,4,7v10c0,1.66,1.34,3,3,3h10  c1.66,0,3-1.34,3-3V7c0.01-0.8-0.31-1.57-0.88-2.12L19.12,4.86z"/></svg>');
          }

          // Match links pointing to LunkedIn.
          &[class*="menulinkpath-https-www-linkedin-com"] a.nav-link {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 21 21"><path fill="%23FFFFFF" d="M6.47,17.39v-7.22h2.41v7.23H6.47V17.39z M8.66,8.83c-0.27,0.25-0.63,0.38-1,0.36l0,0  c-0.37,0.03-0.73-0.11-1-0.36C6.42,8.6,6.28,8.28,6.29,7.94C6.28,7.58,6.43,7.23,6.71,7c0.27-0.24,0.63-0.37,1-0.35  c0.37-0.03,0.73,0.1,1,0.35c0.24,0.24,0.38,0.56,0.37,0.9C9.09,8.26,8.93,8.6,8.66,8.83z M15.13,17.39v-3.86  c0-1.09-0.4-1.63-1.21-1.63c-0.28-0.01-0.55,0.08-0.77,0.26c-0.2,0.17-0.37,0.38-0.47,0.62c-0.06,0.19-0.08,0.38-0.07,0.58v4H10.2  c0-4.36,0-6.77,0-7.23h2.4v1.05l0,0c0.45-0.76,1.28-1.21,2.16-1.18c0.75-0.03,1.48,0.27,2,0.82c0.55,0.68,0.82,1.55,0.76,2.43v4.14  H15.13L15.13,17.39z M19.13,4.88C18.57,4.3,17.8,3.99,17,4H7C5.34,4,4,5.34,4,7v10c0,1.66,1.34,3,3,3h10c1.66,0,3-1.34,3-3V7  C20.01,6.2,19.69,5.44,19.13,4.88L19.13,4.88z"/></svg>');
          }

          &.menulinkpath--search a.nav-link {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path fill="%23FFFFFF" d="M15.33,10.66c-0.01,2.57-2.09,4.65-4.66,4.66c-1.24,0.03-2.43-0.45-3.3-1.33c-0.9-0.87-1.4-2.08-1.37-3.33  c-0.02-1.24,0.48-2.44,1.37-3.3c0.86-0.89,2.06-1.39,3.3-1.37c1.25-0.03,2.46,0.47,3.33,1.37c0.89,0.86,1.39,2.06,1.37,3.3l0,0  H15.33z M20.66,19.32c0.01-0.35-0.14-0.69-0.39-0.94l-3.57-3.57c0.85-1.21,1.31-2.67,1.3-4.15c0-0.98-0.19-1.95-0.58-2.85  c-0.73-1.77-2.13-3.17-3.9-3.9c-1.82-0.77-3.88-0.77-5.7,0c-1.77,0.73-3.17,2.13-3.9,3.9c-0.77,1.82-0.77,3.88,0,5.7  c0.73,1.77,2.13,3.17,3.9,3.9c0.9,0.39,1.87,0.58,2.85,0.58c1.48,0.01,2.93-0.44,4.15-1.29l3.57,3.56c0.24,0.26,0.58,0.41,0.94,0.4  C20.06,20.65,20.65,20.06,20.66,19.32L20.66,19.32L20.66,19.32z"/></svg>');
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    // Override position relatives on contextual region to position submenus
    // correctly.

    // Note the confusingly-titled but different nav.navbar-main and
    // nav.main-navbar elements.
    nav.navbar-main > .container {
      position: relative;

      nav[role="navigation"].contextual-region {
        position: unset;
      }
    }

    // The container which has the primary and secondary menus.

    // Note the confusingly-titled but different nav.navbar-main and
    // nav.main-navbar elements.
    header:not(.header-scrolled-from-top) nav.main-navbar {
      // Position the navbar at the top when we're showing the full-fat header.
      align-self: flex-start;
    }

    nav.main-navbar {
      // Pull the container to full width even when there is no three-col
      // CTAs node on display.
      .navbar-inner {
        width: 100%;
      }

      // Pad the left side of the main menu. This left padding should match the
      // left padding on .header-three-column-calls-to-action.
      nav.navigation.menu--main {
        padding-left: 15%;
      }
    }

    ul.main-menu {
      font-family: $font-text;
      //position: relative;

      // We're only targeting the top-level menu here.
      > li.nav-item {
        //position: relative;
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;

        > a.nav-link,
        > span {
          color: $white;

          // Pos relative for the :after line.
          position: relative;
          display: block;
          //border-right: 1px solid $header-menu--top-level-link--border-colour;
          padding: 0.5rem 1.2rem;
          background-color: $header-menu--top-level-link--background-colour;
        }

        &:not(:last-child) {
          > a.nav-link,
          > span {
            // Border-line which is only as high as the text. Don't add to last
            // <li>.
            &:after {
              display: block;
              content: '';
              position: absolute;
              top: 25%;
              bottom: 25%;
              width: 1px;
              background-color: $header-menu--top-level-link--border-colour;
              right: 0;
            }
          }
        }

        > span {
          color: $header-menu--top-level-text--colour;
        }

        // Hide (second-level) sub-menus and sub-divs by default.
        > ul,
        > div {
          // Position non-megamenus.
          display: none;
          position: absolute;
          // Note that setting the top > 85% means the submenu closes before
          // you can mouse over because the top-level header block intercepts
          // the pointer and the browser no longer sees a hover over the <li>.
          // Grr.
          // Also @see header.header-scrolled-from-top below for adjusted top
          // position on condensed headers.
          top: 85%;
          left: 0;
          width: auto;
          min-width: 300px;
          max-width: 50vw;

          &.is-mega-menu {
            // Position megamenus differently.
            top: 19%; // This feels sketchy.
            left: 0;
            right: 0;
            max-width: unset;
          }

          // Colours.
          //color: $white;
          //background-color: rgba(0, 0, 0, 0.9);

          // z-index needs to be 2 to sit on top of the header three col block.
          z-index: 2;
          list-style: none;
          margin: 0;
        }

        &:hover {
          // Hover styling for links.
          > a {
            color: $header-menu--top-level-link--colour-hover;
            background-color: $header-menu--top-level-link--background-colour-hover;
          }

          // Show sub-menus and sub-divs when hovering over the top-level <li>.
          > ul,
          > div {
            display: block;
            max-height: 80vh;
            overflow: auto;
          }
        }

        // Styling for sub-menus and blocks which we show as sub-menus.
        > ul,
        > div {
          // Add a * selector to help override fonts explicitly set on e.g. Nodes in
          // Blocks which are moved into the menu.
          &,
          & * {
            font-family: $font-text;
            color: $header-menu--submenu-text--colour;
          }

          background-color: $header-menu--submenu-background--colour;

          a,
          a * {
            color: $header-menu--submenu-link--colour;
            text-decoration-line: underline;
            text-decoration-style: dotted;
            text-decoration-color: darken($link-colour, 10%);
            text-decoration-thickness: 1px;
            text-underline-offset: 0.25em;

            &:hover {
              color: $header-menu--submenu-link--colour-hover;
              text-decoration-color: $header-menu--submenu-link--colour-hover;
              text-decoration-style: solid;
            }
          }
        }

        > ul {
          padding: 0;

          > li {
            display: block;
            padding: 0;

            a {
              display: block;
              margin: 0;
              padding: 0.5rem 1rem;

              &:hover {
                //color:
                //background-color:
              }
            }
          }
        }

        // Styles for <div>s but not normal menu <ul>s.
        > div {
          padding: 2rem;
        }

        // Relatively position top-level <li>s which don't contain mega-menus.
        &:not(.menu-has-megamenu) {
          position: relative;
        }
      }

      // Un-bold headings.
      h2, h3, h4, h5, h6 {
        font-weight: normal;
      }
    }

    // Adjust position of drop-down menus on condensed headers.
    header.header-scrolled-from-top {
      ul.main-menu {
        > li.nav-item {
          > ul,
          > div {
            &,
            & .is-mega-menu {
              top: 100%;
            }
          }
        }
      }
    }
  }

  // Mobile-specific styles.
  @include media-breakpoint-down(lg) {

    // Don't prevent the body from scrolling.
    &.navbar-open {
      overflow: auto;
      position: unset;
      width: 100%;
      left: 0;
      height: 100%;

      nav#navbar-nav::before {
        display: none;
        opacity: 0;
      }
    }

    header.header {
      > nav.navbar-wrapper {
        .region-primary-menu {
          // Revert display: flex;
          display: unset;
          // Revert border.
          border: none;
        }

        nav.main-navbar {
          &.open {
            // The below doesn't work very well when the user is logged in with
            // an editor account - a significant amount of mobile menu content
            // drops off the bottom of the screen.
            //height: calc(100vh - #{$header-mobile-height});
            height: auto;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: rgba(255, 255, 255, 0.8);
            bottom: 0;
            position: fixed;

            .navbar-inner {
              right: 0;
              left: 0;
              width: 100%;
              overflow: visible;
              height: auto;
              padding: 0;
              border-bottom: #fff 2px solid;

              .menu-region {
                width: 100%;
                color: $mobile-menu--text-colour;
                background-color: $mobile-menu--background-colour;
              }
            }
          }

          // Styles for the main menu only.
          nav.navigation.menu--main {
            // Mobile menu open/close controls.
            .mobile-menu-open-close-control {
              display: none;
              padding: 20px;
              width: 0;

              &.mobile-menu-open {
                display: none;
                padding: 20px;
              }
            }

            > ul.nav {
              // Styles for all <li>s.
              li.nav-item {
                display: block;
                margin: 0;
              }

              // Styles specific to top-level <li>s.
              > li.nav-item {
                //position: relative;
                //margin-left: 1rem;
                padding: 0 3rem 0 1rem;
                line-height: 3rem;

                // Styles specific to top-level links.
                > a.nav-link {
                  color: $mobile-menu--text-colour;
                  background-color: $mobile-menu--background-colour;
                  line-height: 2.25rem;

                  // Pull the link underneath any open/close pseudo element, so
                  // the bottom border line looks correct.
                  margin-right: -3rem;

                  &:hover {
                    color: $mobile-menu--li--active--text-colour;
                    background-color: $mobile-menu--li--active--background-colour;
                  }
                }

                // Active menu item styling.
                &.active {
                  //color: $mobile-menu--li--active--text-colour;
                  //background-color: $mobile-menu--li--active--background-colour;

                  // Styles for active top-level links.
                  > a.nav-link {
                    //color: $mobile-menu--li--active--text-colour;
                    //background-color: $mobile-menu--li--active--background-colour;
                  }
                }

                // Styles specific to top-level links with submenus.
                &.menu-has-submenu {
                  > a.nav-link {
                    border-bottom: $mobile-menu--li--has-submenu--border-colour 1px solid;
                  }

                  // Active styles for menus with submenus.
                  &.menu-open {
                    > a.nav-link {
                      color: $mobile-menu--li--has-submenu--expanded--text-colour;
                      background-color: $mobile-menu--li--has-submenu--expanded--background-colour;
                      border-color: $mobile-menu--li--has-submenu--expanded--border-colour;
                    }
                  }
                }

                // Styles for submenu links.
                > ul > li > a {
                  color: $mobile-menu--li--active--submenu-text-colour;
                  background-color: $mobile-menu--li--active--submenu-background-colour;
                }

                a.nav-link {
                  display: block;
                  padding: 0.5rem 0;
                  font-size: 1.5rem;
                }

                &.menu-dropdown-icon {
                  position: relative;

                  &:after {
                    //Fontawesome glyph: "\f067";
                    //font-family: $icon-font-family;
                    content: "+";
                    display: block;
                    cursor: pointer;
                    padding: 0;

                    color: $mobile-menu--li--has-submenu--open-close-control--closed--text-colour;
                    background-color: $mobile-menu--li--has-submenu--open-close-control--closed--background-colour;

                    font-size: 1.5rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 3rem;
                    text-align: center;
                    height: 3.3rem;
                  }

                  &.menu-dropdown-icon-open {
                    &:after {
                      color: $mobile-menu--li--has-submenu--open-close-control--open--text-colour;
                      background-color: $mobile-menu--li--has-submenu--open-close-control--open--background-colour;
                      // Fontawesome glyph: "\f068";
                      content: "\2014";
                    }
                  }
                }

                // Hide submenus (<ul>s and <div>s).
                > ul,
                > div {
                  display: none;
                }

                // Styles for open menus.
                &.menu-open {
                  color: $mobile-menu--li--active--text-colour;
                  background-color: $mobile-menu--li--active--background-colour;

                  // Show submenus when they are open.
                  > ul,
                  > div {
                    transition: 0.5s;
                    display: block;
                  }
                }

                // Specific styling to adjust node-in-blocks used as submenus.
                > div {
                  padding-top: 1rem;
                  padding-bottom: 1rem;
                }

                a.mobile-menu-open-close-control {
                  color: $white;
                  text-decoration: none;
                  font-size: 1.2em;

                  //&:hover {
                  //  color: $light-grey;
                  //}

                  &:after {
                    content: "\f0c9";
                    font-family: $icon-font-family;
                    font-size: 2.5rem;
                    padding: 20px;
                    position: absolute;
                    top: 0;
                    right: 0;
                  }

                  &.mobile-menu-open:after {
                    content: "\f00d";
                  }
                }

                // Styles specific to sub-menus.
                > ul {
                  margin: 0;
                  padding: 0.5rem 0;

                  li {
                    display: block;
                    margin: 0;
                    padding: 0;

                    color: $mobile-menu--li--submenu--text-colour;
                    background-color: $mobile-menu--li--submenu--background-colour;

                    a {
                      display: block;
                      padding: 0.5rem 1rem;
                      font-size: 1.1rem;
                      line-height: 1.1rem;
                    }
                  }
                }
              }
            }
          }
        }
      }

      ul.main-menu {
        // Revert display: flex;
        display: unset;
      }
    }
  }

}
