//
// @file
// _misc.scss
//

// Utility classes.
.margin-top-1rem {
  margin-top: 1rem;
}

.margin-right-1rem {
  margin-right: 1rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-left-1rem {
  margin-left: 1rem;
}

.padding-top-1rem {
  padding-top: 1rem;
}

.padding-right-1rem {
  padding-right: 1rem;
}

.padding-bottom-1rem {
  padding-bottom: 1rem;
}

.padding-left-1rem {
  padding-left: 1rem;
}
