// Sidebar

.region-sidebar-right{
  h2.block__title{
    margin: 2rem 0;
    @include header-style;
    font-family: $font-header;
    font-weight: 400;
    color: var(--link-colour);
    font-size: 2rem;
    &:after{
      margin-left: 20px;
    }
  }

  .block {
    margin-bottom: 1rem;
  }
}
