// Include mixins, breakpoints and variables from the profile.
@import '../../../../profiles/redactived8platformprofile/modules/custom/redactived8platform_dragdrop/scss/redactived8platform-dragdrop-mixins';
@import '../../../../profiles/redactived8platformprofile/modules/custom/redactived8platform_dragdrop/scss/redactived8platform-dragdrop-breakpoints';
@import '../../../../profiles/redactived8platformprofile/modules/custom/redactived8platform_dragdrop/scss/redactived8platform-dragdrop-variables';

@mixin header-style {
  display: flex;
  align-items: center;
  justify-content: left;

  span, a{
    margin: 0 20px 0 0;
  }

  &:after {
    background: black;
    height: 1px;
    flex: 1;
    content: '';
  }
}

@mixin line-style{
  &:after{
    content: '';
    background-color: var(--link-colour);
    height: 2px;
    width: 60px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@mixin footer-style{
  &:before{
    content: '';
    background-color: var(--link-colour);
    height: 1px;
    width: 90%;
    margin-left: 144px;
    top: 55px;
    position: relative;
  }
}

@mixin buttonify($bg, $text, $justify, $width, $align, $top-margin:0, $bottom-margin:0) {
  //display: flex;
  //align-items: center;
  //justify-content: $justify;

  color: $text;
  text-decoration:none;

  max-width: $width;
  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }

  padding: 5px 10px;
  margin: $top-margin $align $bottom-margin $align;
  border-radius: 5px;
  border: 0;
  font-family: $font-text;
  font-weight: 400;
  font-size:1.1rem;
  background: $bg;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  transition: 0.4s;

  &:hover {
    background-color: $text;
    transform: scale(0.94);
    text-decoration: none;
  }

  &:hover,
  &:hover * {
    color: $bg;
  }

  &:active {
    background-color: $text;
    color: $bg;
  }
}

@mixin unset-font-body-standard {
  font-size: unset;
  @include media-breakpoint-down(md) {
    font-size: unset;
  }
  @include media-breakpoint-down(sm) {
    font-size: unset;
  }
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
