// Base theme overrides - variables that you can modify.

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * .875;

$icon-font-family: 'FontAwesome';

// Header
$header-height: 6rem; // Top navbar height. Increase it if your logo is tall
$header-mobile-height: 5rem; // Top navbar height. Increase it if your logo is tall
//Admin toolbar
$admin-toolbar-height: 39px; // Height of administration toolbar for logged in user.
// Global
$page-min-width: 320px; // Minimum page width in pixels

$navbar-mobile-breakpoint-up: md;
$navbar-mobile-breakpoint-down: md;

$navbar-mobile-sidebar-width: 265px;

// Navbar

$navbar-padding-y:                  $spacer * 0;
$navbar-padding-x:                  $spacer;

$navbar-nav-link-padding-x:         1.5rem;

$navbar-brand-font-size:            $font-size-lg;

// Breaking points

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1400px
);

$grid-columns:      12;
$grid-gutter-width: 30px;

$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1200px,
  xl: 1400px
);

// Simple colors
// -------------------------
$white: #fff;
$black: #000;
$mid-grey: #888;

// COLOUR NAMING CONVENTION
// ----------------------------
//
// The two above are so obvious that they stay as they are.
// There is just one total black and one total white.
//
// You may find our color naming convention a little weird. For example "$color-agamemnon" points
// neither to color nor some website element. It's not easy to connect it with a particular place.
//
// Why do we like meaningless names? Because any naming convention is bound to fail!
// Droopler is a base of many different sites. What if some widely used $color-blue became red?
// We avoid such problems by completely abstracting variable names from the colors they hold.
// This way we hope we can build many websites on the same codebase without making a mess
// and perhaps with some additional fun.
//
// What is our approach?
// A general situation on a website looks like this:
// There are two sets of colors. One for you and one for us.
//
// Our team uses variable names derived from the Greek mythology. You may have already noticed
// that we named the most important variables after participants of the Trojan Wars.
// Occasionally we targeted a god from the Olympus.
//
// You are free to override any of these "Greek" colors. They are connected with many elements
// so one small change can lead to an entirely different website layout.
// You can name your variables however you like. Just don't use any Greek names to avoid conflicts
// with future versions of Droopler (maybe we like the same ancient heroes).
// We encourage you to follow our ideas and create variables based on Roman mythology.
// Like $color-jupiter or $color-mars.
//
// Wikipedia is here for you:
// https://en.wikipedia.org/wiki/List_of_Roman_deities
//
// Below you have a list of Droopler's built-in variables. Just uncomment and change them.


// Colours - The Greeks
// -------------------------
$color-agamemnon: #cc2142; // Main color, it changes backgrounds, menu and link color.
// $color-menelaus: #5d98ce;
// $color-nestor: #65e2ff;
// $color-odysseus: white;
// $color-diomedes: #d3d7d9;
// $color-patroclus: #979797;

// Colours - The Troyans
// -------------------------
// $color-priam: #7a7a7a;
$color-hecuba: #666;
// $color-troilus: #4c4c4c;
// $color-cassandra: black;
// $color-andromache: #d2d2d2;
// $color-aeneas: #8e8a89;
// $color-memnon: #1a6dbb;
// $color-penthesilea: #969696;

// Colour accents - Troyan heroes
// ---------------------------------
// $color-hector: #d3d3d3;
// $color-achillies: #ec6d06;

// GENERAL VARIABLES
// ---------------------------------
// These variables are applicable to global HTML elements.
// They are not tied to any node or paragraph.

// Links
// -------------------------

// Default to Redactive red.
$link-colour: $color-agamemnon;
$link-colour-darker: darken($link-colour, 10%);
$link-colour-hover: $link-colour-darker;

//
//
// Header menu links.
//
//

// Mobile menu variables.
$mobile-menu--background-colour: $link-colour;
$mobile-menu--text-colour: $white;

$mobile-menu--li--active--text-colour: $link-colour;
$mobile-menu--li--active--background-colour: $white;
$mobile-menu--li--active--submenu-text-colour: $black;
$mobile-menu--li--active--submenu-background-colour: $mobile-menu--li--active--background-colour;

$mobile-menu--li--has-submenu--open-close-control--closed--text-colour: $black;
$mobile-menu--li--has-submenu--open-close-control--closed--background-colour: $white;

$mobile-menu--li--has-submenu--open-close-control--open--text-colour: $black;
$mobile-menu--li--has-submenu--open-close-control--open--background-colour: $link-colour;

$mobile-menu--li--has-submenu--border-colour: $white;
$mobile-menu--li--has-submenu--expanded--text-colour: $link-colour;
$mobile-menu--li--has-submenu--expanded--background-colour: $white;
$mobile-menu--li--has-submenu--expanded--border-colour: $link-colour;

$mobile-menu--li--submenu--text-colour: $black;
$mobile-menu--li--submenu--background-colour: $link-colour;

// Desktop header menu.
$header-menu--border-colour: $link-colour;
$header-menu--top-level-text--colour: $white;
$header-menu--top-level-link--colour: $white;
$header-menu--top-level-link--colour-hover: $white;
$header-menu--top-level-link--background-colour: transparent;
$header-menu--top-level-link--background-colour-hover: $link-colour;
$header-menu--top-level-link--border-colour: $white;

$header-menu--submenu-text--colour: $black;
$header-menu--submenu-link--colour: $black;
$header-menu--submenu-link--colour-hover: $black;
$header-menu--submenu-background--colour: $link-colour;

// Font variables used in Droopler
// -------------------------
//@import url("https://use.typekit.net/bbc6viu.css");

$font-header: "Lato", sans-serif;
$font-header-weight: normal;

// Default text uses the default font.
$font-text: $font-header;
$font-main-header-size: 2.25rem;
$font-main-header-size-down: 1.75rem;
$font-field-para-wysiwyg-content: $font-text;

// Header
// -------------------------
// $header-height: 6rem; // Top navbar height. Increase it if your logo is tall
// $header-mobile-height: 4.5rem; // Top navbar height. Increase it if your logo is tall
// $header-menus-margin-spacing: 10px;
$font-header-title-line-height: 1rem;

// Logo
// -------------------------
// $logo-mobile-height: $header-mobile-height;
// $logo-width: 20rem;
// $logo-mobile-width: 12rem;
// $logo-mobile-padding-left: $grid-gutter-width/2;
// $logo-md-width: 13.5rem;

// Font for <h1> or bigger <h2>
// -------------------------
// $font-main-header-big-size: 3.44rem;
// $font-main-header-big-size-down-md: 2.5rem;
// $font-main-header-big-size-down-sm: 2.5rem;
// $font-main-header-big-margin-bottom: 0.8rem;

// Font for <h2> header
// -------------------------
// $font-main-header-size: 3rem;
// $font-main-header-size-down: 2rem;

// Font for subtitle below main title, typically <h3>
// -------------------------
// $font-main-subtitle-size: $font-size-mdlg;
// $font-main-subtitle-size-down-sm: $font-size-sm;

// Font for subtitle links
// -------------------------
// $font-subtitle-font-size: $font-size-sm;
// $font-subtitle-font-weight: bolder;
// $font-subtitle-letter-spacing: 1.4px;
// $font-subtitle-line-height: 1.5;

// Font for small box titles
// -------------------------
// $font-box-title-padding-bottom: 20px;
// $font-box-title-font-small-title: 2rem;
// $font-box-title-font-large-title: 3rem;
// $font-box-title-line-height: 1.2t

// Line under headers
// -------------------------
// $line-background: $color-agamemnon;
// $line-background-inverted: $color-nestor;
// $line-left-margin-top: 1.25rem;
// $line-left-margin-bottom: 1.52rem;
// $line-center-margin-top: 1.375rem;
// $line-center-margin-bottom: 1.51rem;
// $line-width: 3.125rem;
// $line-thickness: 0.125rem;

// Buttons
// -------------------------
// $font-main-button-size: $font-size-mdsm;
// $font-main-button-size-down-sm: $font-size-vsm;
// $button-max-width: 18rem

// Standard <p> font
// -------------------------
// $font-main-standard-size: $font-size-base;
// $font-main-standard-size-down-md: $font-size-mdsm;
// $font-main-standard-size-down-sm: $font-size-sm;

// Global variables
// -------------------------
// $page-min-width: 320px; // Minimum page width in pixels
// $navbar-mobile-breakpoint-up: lg;
// $navbar-mobile-breakpoint-down: md;
// $navbar-mobile-sidebar-width: 265px;

// Theme paths
// -------------------------
// $theme_path: '/profiles/redactived8platformprofile/themes/custom/redactive_droopler_theme';
// $subtheme_path: '/themes/custom/redactive_droopler_subtheme';
// $lato-font-path: '/libraries/lato-webfont/fonts';

// Footer
// -------------------------
// $footer-background: $color-cassandra;
// $footer-text-color: $color-thersites;
// $footer-header-color: $color-odysseus;
// $footer-header-margin: 0 0 1rem 0;
// $footer-menu-item-padding: 0 0 1rem 0;
// $footer-list-item-padding: 0 0 0.2rem 0;
// $footer-link-hover: $color-odysseus;

// Main Menu
// -------------------------
// $menu-main-link-color: $color-priam;
// $menu-main-link-hover-color: darken($color-priam, 20%);
// $menu-main-link-active-color: darken($color-priam, 20%);
// $menu-main-link-dropdown: $color-hector; // Dropdown icon
// $submenu-link-color: $menu-main-link-color; // Submenu item text color
// $submenu-link-hover-color: darken($color-priam, 20%); // Submenu item hover color
// $submenu-link-hover-background: $color-andromache; // Submenu item hover color
// $menu-mobile-background: $color-agamemnon;
// $menu-mobile-link-color: $color-odysseus;
// $menu-mobile-link-border: $color-menelaus;
// $submenu-mobile-background: $menu-mobile-link-border;
// $navbar-toggler-color: $color-agamemnon;
// $menu-font-size: $font-size-lg;
// $menu-mobile-font-size: $font-size-lg;
// $submenu-font-size: $font-size-base;
// $menu-dropdown-size: 2.3rem; // Size of the dropdown arrow
// $navbar-toggler-size: 2.3rem; // Size of the toggler arrow
// $menu-dropdown-width: 4rem;  // Width of desktop dropdown icon (desktop)
// $menu-dropdown-mobile-padding-x: 1rem;  // Padding on both sides of dropdown icon (mobile)
// $menu-main-link-height: $header-height - (2 * $navbar-padding-y);  // Height of menu item
// $menu-main-link-padding-x: 1.5rem; // Space on the right and left side of the link (desktop)
// $navbar-toggler-width: 5.625rem; // Width of mobile menu on/off toggler
// $navbar-toggler-height: $header-mobile-height; // Height of mobile menu on/off toggler
// $menu-mobile-main-link-height: 3.5rem;  // Height of menu item (mobile)
// $menu-mobile-main-link-padding-x: 2.15rem; // Percentage width of menu item, it should align with the toggler icon (mobile).
// $submenu-offset-left: -1rem; // Move the submenu left or right (desktop)
// $submenu-link-padding-x: 1.4rem; // Horizontal padding of submenu element (desktop)
// $submenu-link-height: 2.9rem; // Height of links in submenu (desktop)
// $submenu-mobile-link-height: $menu-mobile-main-link-height; // Height of links in submenu (mobile)

// Lang Dropdown
// -------------------------
// $lang-dropdown-header-color: $menu-main-link-color;  // Color of language link in main menu
// $lang-dropdown-toggle-color: $menu-main-link-dropdown; // Color of language dropdown toggle icon
// $lang-dropdown-submenu-color: $submenu-link-color; // Color of link in language menu
// $lang-dropdown-submenu-hover-color: $submenu-link-hover-color; // Color of hover link in language submenu
// $lang-dropdown-submenu-hover-background: $submenu-link-hover-background; // Color of hover bg in language submenu
// $lang-dropdown-submenu-active-color: $menu-main-link-active-color; // Color of active link in language submenu
// $lang-dropdown-mobile-background: $color-troilus; // Background color of mobile language menu
// $lang-dropdown-mobile-link-color: $color-priam; // Link color of mobile language menu
// $lang-dropdown-mobile-link-hover-color: lighten($lang-dropdown-mobile-link-color, 5%); // Link hover color of mobile language menu
// $lang-dropdown-mobile-header-color: $color-odysseus; // Color of active language in mobile lang menu
// $lang-dropdown-link-font-size: $menu-font-size-mobile; // Font size of language link in main menu
// $lang-dropdown-size: $menu-dropdown-size; // Size of dropdown icon in lang menu
// $lang-dropdown-submenu-font-size: $submenu-font-size; // Font size in the lang submenu
// $lang-dropdown-margin-left: 4.5rem;
// $lang-dropdown-link-padding-x: 1.4rem;
// $lang-dropdown-link-height: $menu-main-link-height;
// $lang-dropdown-dropdown-width: $menu-dropdown-width;  // Width of desktop dropdown
// $lang-dropdown-submenu-link-height: $submenu-link-height;
// $lang-dropdown-mobile-link-padding: 0.625rem;
// $lang-dropdown-mobile-padding: 1.25rem;
// $secondary-menu-lang-dropdown-height: 2.4rem

// Modifiers
// -------------------------
// $light-gray-background: $color-hector;
// $light-gray-background-2: $color-paris;
// $divider-background: $color-iphis;
// $grid-border-color: $color-paris;
// $grid-border-type: solid $grid-border-color;
// $grid-border-width: 2px;
// $arrow-margin-right: 2%;
// $arrow-margin-top: 6%;
// $arrow-border-width: 9px;
// $arrow-border: $arrow-border-width solid transparent;
// $arrow-down-color: lighten($color-achillies, 10%);
// $stripe-background-color: rgba(0,0,0, 0.57);
// $tile-padding-top: 70px;
// $tile-padding-bottom: 70px;
// $tiles-spacing: 10px;
// $tile-title-font-size-desktop: 4vh;
// $tile-title-font-size-mobile: 3vh;
// $header-into-columns-padding-y: 3.875rem;
// $theme-invert-text-color: $color-cassandra;
// $line-background-alter: $color-nestor;
// $two-columned-header-line-margin: 0.625rem;

// PARAGRAPHS
// -------------------------
// $d-p-long-text-margin-bottom: 1.5rem;

// All core paragraph variables have different naming convention.
// Their names begin with $d-p- prefix.

// Paragraph d_p_subscribe_file
// -------------------------
// $download-background: darken($color-agamemnon, 15%);
// $download-color: $color-odysseus;
// $download-header-background: $color-odysseus;
// $download-additional-color: $color-nestor;
// $download-padding: 8% 0;
// $download-button-margin: 3.125rem auto;
// $d-p-subscribe-color: $color-odysseus;
// $d-p-subscribe-header-color: $color-odysseus;
// $d-p-subscribe-background: $color-agamemnon;
// $d-p-subscribe-line-color: $color-nestor;
// $d-p-subscribe-line-color-inverted: $line-background;
// $d-p-subscribe-form-margin: 2.2rem auto 1.25rem auto;
// $d-p-subscribe-form-max-width: 56rem;
// $d-p-subscribe-mobile-form-max-width: 31.25rem;
// $d-p-subscribe-mobile-form-margin-y: 3%;
// $d-p-subscribe-padding-y: 8%;
// $d-p-subscribe-line-margin-top: 1.45rem;
// $d-p-subscribe-background-opacity: 0.4;

// Paragraph d_p_banner
// -------------------------
// $d-p-banner-header-color: $color-odysseus;
// $d-p-banner-subheader-color: $color-odysseus;
// $d-p-banner-text-color: $color-odysseus;
// $d-p-banner-background-overlay: $color-cassandra;
// $d-p-banner-line-color: $color-nestor;
// $d-p-banner-line-color-inverted: $color-agamemnon;
// $d-p-banner-half-transparent-background-color: rgba(255, 255, 255, .75);
// $d-p-banner-text-line-height: 1.7;
// $d-p-banner-button-margin-top: 4.375rem;
// $d-p-banner-padding-top: 18.5%;
// $d-p-banner-padding-bottom: 14.5%;
// $d-p-banner-mobile-padding-top: 6.25rem;
// $d-p-banner-mobile-padding-bottom: 6.25rem;
// $d-p-banner-half-transparent-padding-top: 10%;
// $d-p-banner-half-transparent-padding-bottom: 10%;
// $d-p-banner-half-transparent-content-spacing: 10%;
// $d-p-banner-half-transparent-btn-spacing: 25px;
// $d-p-banner-background-opacity: 0.5;
// $d-p-banner-subheader-opacity: 0.7;

// Paragraph d_p_block
// -------------------------
// $d-p-block-line-color: $color-nestor;
// $d-p-block-line-color-inverted: $color-agamemnon;
// $d-p-block-line-margin-top: $line-center-margin-top;
// $d-p-block-line-margin-bottom: $line-center-margin-bottom;

// Paragraph d_p_form
// -------------------------
// $d-p-form-header-color: $color-odysseus;
// $d-p-form-text-color: $color-odysseus;
// $d-p-form-background: $color-agamemnon;
// $d-p-form-line-color: $color-nestor;
// $d-p-form-line-color-inverted: $color-agamemnon;
// $d-p-form-table-color: $color-cassandra;
// $d-p-form-header-margin-bottom: 10%;
// $d-p-form-button-margin-top: 1rem;
// $d-p-form-copy-margin-left: 1.25rem;
// $d-p-form-copy-margin-right: 1.25rem;
// $d-p-form-small-labels-spacing: 7px;
// $d-p-form-background-opacity: 0.4;

// Paragraph d_p_side_image
// -------------------------
// $d-p-side-image-banner-background-color: $color-agamemnon;
// $d-p-side-image-banner-background-color-secondary: darken($d-p-side-image-banner-background-color, 15%);
// $d-p-side-image-banner-text-color: $color-odysseus;
// $d-p-side-image-banner-link-color: $color-nestor;
// $d-p-side-image-banner-link-hover-color: darken($d-p-side-image-banner-link-color, 5%);
// $d-p-side-image-line-color: $color-nestor;
// $d-p-side-image-line-color-inverted: $color-agamemnon;
// $d-p-side-image-header-color: $color-odysseus;
// $d-p-side-image-color: $color-odysseus;
// $d-p-side-image-mobile-height: 18.75rem;
// $d-p-side-image-banner-text-padding: 7%;
// $d-p-side-image-banner-text-width: 35.625rem;
// $d-p-side-image-banner-half-padding: 5%; // Spacing between content and half of the screen.
// $d-p-side-image-long-text-margin-bottom: 0;

// Paragraph d_p_text_blocks
// -------------------------
// $d-p-single-box-line-color: $color-agamemnon;
// $d-p-single-box-line-color-inverted: $color-nestor;
// $d-p-text-blocks-line-color: $color-agamemnon;
// $d-p-text-blocks-line-color-inverted: $color-nestor;
// $d-p-text-blocks-group-padding-y: 3.875rem;
// $d-p-text-blocks-group-mobile-padding-y: 2rem;
// $d-p-text-blocks-group-margin: 0 0 5.5rem 0;
// $d-p-text-blocks-mobile-group-margin: 0 0 2.8rem 0;
// $d-p-text-blocks-group-button-margin: 3.125rem auto 0 auto;
// $d-p-text-blocks-mobile-group-button-margin: 1.875rem auto 4.375rem auto;
// $d-p-single-box-padding-x: 5%;
// $d-p-single-box-mobile-padding-x: 10%;
// $d-p-single-box-long-text-margin-bottom: 0;
// $d-p-text-blocks-tiles-padding: 20px;
// $d-p-text-blocks-tiles-spacing: 5px;
// $d-p-single-text-box-grid-image-padding-bottom: $grid-gutter-width / 2;
// $d-p-single-text-box-grid-large-padding: $grid-gutter-width;

// Paragraph d_p_text_paged
// -------------------------
// $d-p-text-paged-subtitle-color: $color-agamemnon;
// $d-p-text-paged-line-color: $color-agamemnon;
// $d-p-text-paged-line-color-inverted: $color-nestor;
// $d-p-text-paged-color: $color-hecuba;
// $d-p-text-paged-background-invert-color: $color-agamemnon;
// $d-p-text-paged-theme-invert-background-color: $color-agamemnon;
// $d-p-text-paged-theme-invert-text-color: $color-odysseus;
// $d-p-text-paged-subtitle-margin-y: 1.125rem;

// Paragraph d_p_text_with_bckg
// -------------------------
// $d-p-text-with-bckg-background-overlay: $color-odysseus;
// $d-p-text-with-bckg-line-color: $line-background;
// $d-p-text-with-bckg-line-color-inverted: $color-nestor;
// $d-p-text-with-bckg-header-color: $color-cassandra;
// $d-p-text-with-bckg-button-margin-top: 3.125rem;
// $d-p-text-with-bckg-padding-top: 6.5%;
// $d-p-text-with-bckg-padding-bottom: 6.5%;
// $d-p-text-with-bckg-mobile-padding-top: 6.25rem;
// $d-p-text-with-bckg-mobile-padding-bottom: 6.25rem;
// $d-p-text-with-bckg-img-opacity: 0.1;

// Paragraph d_p_counters
// -------------------------
// $d-p-counters-background-overlay: $color-agamemnon;
// $d-p-counters-line-color: $color-nestor;
// $d-p-counters-line-color-inverted: $line-background;
// $d-p-counters-header-color: $color-odysseus;
// $d-p-counters-number-color: $color-odysseus;
// $d-p-counters-text-color: $color-nestor;
// $d-p-counters-long-text-color: $color-odysseus;
// $d-p-counters-padding-top: 7.5rem;
// $d-p-counters-padding-bottom: 7.5rem;
// $d-p-counters-mobile-padding-top: 3rem;
// $d-p-counters-mobile-padding-bottom: 3rem;
// $d-p-single-counter-padding-x: 5%;
// $d-p-single-counter-mobile-padding-x: 10%;
// $d-p-counters-background-opacity: 0.2;

// Paragraph d_p_gallery
// -------------------------
// $d-p-gallery-line-color: $color-agamemnon;
// $d-p-gallery-line-color-inverted: $color-nestor;
// $d-p-gallery-color: $color-hecuba;
// $d-p-gallery-bold-color: $color-troilus;

// Paragraph d_p_carousel
// -------------------------
// $d-p-carousel-item-line-color: $color-agamemnon;
// $d-p-carousel-item-line-color-inverted: $color-nestor;
// $d-p-carousel-line-color: $color-agamemnon;
// $d-p-carousel-line-color-inverted: $color-nestor;
// $d-p-carousel-arrow-color: $color-cassandra;
// $d-p-carousel-background-theme-invert: $color-agamemnon;
// $d-p-carousel-theme-invert-text-color: $color-odysseus;
// $d-p-carousel-items-margin-top: 2%;
// $d-p-carousel-mobile-items-margin-top: 3rem;
// $d-p-carousel-item-image-margin-bottom: 1rem;
// $d-p-carousel-item-image-height: 200px;
// $d-p-carousel-item-mobile-image-height: 150px;
// $d-p-carousel-item-long-text-margin-bottom: 0;
// $d-p-carousel-item-padding-x: 5%;
// $d-p-carousel-item-mobile-padding-x: 10%;
// $d-p-carousel-arrow-size: 40px;
// $d-p-carousel-arrow-opacity: 0.2;
// $d-p-carousel-arrow-hover-opacity: 0.3;

// Paragraph d_p_side_embed
// -------------------------
// $d-p-side-embed-background-color: $color-agamemnon;
// $d-p-side-embed-background-color-secondary: darken($d-p-side-embed-background-color, 15%);
// $d-p-side-embed-embed-background-color: $color-cassandra;
// $d-p-side-embed-text-color: $color-odysseus;
// $d-p-side-embed-link-color: $color-nestor;
// $d-p-side-embed-link-hover-color: darken($d-p-side-embed-link-color, 5%);
// $d-p-side-embed-line-color: $color-nestor;
// $d-p-side-embed-link-color-inverted: $color-agamemnon;
// $d-p-side-embed-line-color-inverted: $color-agamemnon;
// $d-p-side-embed-header-color: $color-odysseus;
// $d-p-side-embed-full-text-color: $color-cassandra;
// $d-p-side-embed-theme-invert-text-color: $color-cassandra;
// $d-p-side-embed-fields-padding-y: 3.5%;
// $d-p-side-embed-fields-full-padding-y: 30px;
// $d-p-side-embed-fields-padding-x: 30px;
// $d-p-side-embed-mobile-height: 18.75rem;
// $d-p-side-embed-text-desktop-padding-y: 2rem;
// $d-p-side-embed-text-mobile-padding: 7%;
// $d-p-side-embed-text-width: 35.625rem;
// $d-p-side-embed-half-padding: 10%; // Spacing between content and half of the screen.
// $d-p-side-embed-mobile-height: 300px; // This value must be set, otherwise embed won't be visible.
// $d-p-side-embed-desktop-height: auto; // You can set fixed height of embed here.
// $d-p-side-embed-long-text-margin-bottom: 0;

// Paragraph d_p_side_tiles
// -------------------------
// $d-p-side-tiles-image-background-color: $color-odysseus;
// $d-p-side-tiles-text-background-color: $color-agamemnon;
// $d-p-side-tiles-text-background-color-secondary: darken($d-p-side-tiles-text-background-color, 15%);
// $d-p-side-tiles-text-color: $color-odysseus;
// $d-p-side-tiles-theme-invert-text-color: $color-cassandra;
// $d-p-side-tiles-link-color: $color-nestor;
// $d-p-side-tiles-link-hover-color: darken($d-p-side-tiles-link-color, 5%);
// $d-p-side-tiles-line-color: $color-nestor;
// $d-p-side-tiles-link-color-inverted: $color-agamemnon;
// $d-p-side-tiles-line-color-inverted: $color-agamemnon;
// $d-p-side-tiles-header-color: $color-odysseus;
// $d-p-side-tiles-overlay-background: $color-cassandra;
// $d-p-side-tiles-overlay-color: $color-odysseus;
// $d-p-side-tiles-overlay-opacity: 0.6;
// $d-p-side-tiles-mobile-height: 18.75rem;
// $d-p-side-tiles-text-desktop-padding-y: 5%;
// $d-p-side-tiles-text-mobile-padding: 7%;
// $d-p-side-tiles-text-width: 35.625rem;
// $d-p-side-tiles-half-padding: 10%; // Spacing between content and half of the screen.
// $d-p-side-tiles-long-text-margin-bottom: 0;

// Paragraph d_p_tiles
// -------------------------
// $d-p-tiles-line-color: $color-agamemnon;
// $d-p-tiles-line-color-inverted: $color-nestor;
// $d-p-tiles-overlay-background: $color-cassandra;
// $d-p-tiles-overlay-color: $color-odysseus;
// $d-p-tiles-overlay-opacity: 0.6;
// $d-p-tiles-padding-top: 5%;
// $d-p-tiles-padding-bottom: 5%;

// Paragraph d_p_node
// -------------------------
// $box-subtitle-color: $color-achillies;
// $box-content-max-width: 490px;
// $box-padding: $grid-gutter-width / 2;
// $box-large-padding: $grid-gutter-width;
// $box-image-padding-bottom: $grid-gutter-width / 2;

// Paragraph d_p_reference_content
// -------------------------
// $d-p-reference-content-line-color: $color-agamemnon;
// $d-p-reference-content-line-color-inverted: $color-nestor;
// $d-p-reference-content-items-padding-x: 5px;
// $d-p-reference-content-item-padding: 5px;
// $d-p-reference-content-item-margin-left: -5px;
// $d-p-reference-content-item-margin-right: -10px;
// $d-p-reference-content-content-padding: 5px;

// Paragraph d_p_side_by_side
// -------------------------
// $d-p-side-by-side-line-color: $color-agamemnon;
// $d-p-side-by-side-line-color-inverted: $color-nestor;
// $d-p-side-by-side-padding-y: 5%;
// $d-p-side-by-side-header-padding: 2.5%;
// $d-p-side-by-side-content-padding-x: 7vw;
// $d-p-side-by-side-text-box-padding-y: $grid-gutter-width;
// $d-p-side-by-side-node-box-margin-x: 0 - $grid-gutter-width / 2;
// $d-p-side-by-side-image-background-padding-y: 130px;
// $d-p-side-by-side-image-single_text_block-themed-background-opacity: 0.2;
// $d-p-side-by-side-image-single_text_block-themes: $d-p-themes;

// Paragraph d_search_blocks
// -------------------------
// $d-search-page-link-color: $color-iphis;
// $d-search-page-link-color-hover: $color-achillies;
// $d-search-page-link-margin: 10px;
// $d-search-page-link-size: 24px;
// $d-search-page-link-indent: -999px;
// $d-search-button-top-margin-desktop: 30px;
// $d-search-button-top-margin-mobile: 10px;
// $d-search-button-max-width-mobile: 11rem;

// BLOG & BLOG LISTING
// -------------------------
// $d-blog-text-container-width: 35em;
// $d-blog-font-color: $color-odysseus;
// $d-blog-headers-color: $color-cassandra;
// $d-blog-under-background-color: $color-cassandra; // color when there's not image.
// $d-blog-color-taxonomy-in-header: $color-aeneas;
// $d-blog-image-opacity-for-blog: 50%;
// $d-blog-margin-between-html-paragraphs: 1.5rem;
// $d-blog-margin-between-blog-sections: 3rem;
// $d-blog-header-margin-mobile: 0.9375rem auto 0.9375rem;
// $d-blog-header-margin-tablet: 1.5625rem auto 1.375rem;
// $d-blog-header-margin-dekstop: 1.5625rem auto 2.1875rem;
// $d-blog-teaser-small-text-area-padding-xy: 30px;
// $d-blog-teaser-small-padding-y: 20px;
// $d-blog-teaser-header-font-size: 1.3rem;
// $d-blog-header-desktop-font-size: 3rem;
// $d-blog-header-small-desktop-screen-font-size: 2.375rem;
// $d-blog-header-tablet-font-size: 1.625rem;
// $d-blog-header-mobile-font-size: 1.125rem;
// $d-blog-header-h2-font-size-blog-text-desktop: 2.5rem;
// $d-blog-header-h2-font-size-blog-text-mobile: 1.375rem;
// $d-blog-smaller-header-font-size-blog-text-mobile: 1.25rem;
// $d-blog-header-min-height-small-desktop: 325px;
// $d-blog-header-min-height-big-desktop: 300px;
// $d-blog-header-min-height-mobile: 200px;
// $d-blog-image-header-min-height: 150px;
// $d-blog-image-header-max-height: 700px;
// $d-blog-author-attributes-font-size-desktop: 1.0625rem;
// $d-blog-author-attributes-font-size-mobile: 0.75rem;
// $d-blog-block-category-font-size-desktop: 1rem;
// $d-blog-block-category-font-size-mobile: 0.625rem;
// $d-blog-block-category-margin: 1rem 0;
// $d-blog-image-margin: 2.1875rem auto;
// $d-blog-paragraph-text-margin: 1.5625rem auto;
// $d-blog-text-font-size-desktop: 1.25rem;
// $d-blog-text-font-size-mobile: 1.07083125rem;
// $d-blog-text-width-mobile: 85%;
// $d-blog-header-text-distance-from-bottom: -0.25rem;
// $d-blog-header-text-distance-from-top-mobile: 40%;
// $d-blog-size-of-large-desktop: 1400px;
// $d-blog-listing-header-background-color: $color-agamemnon;
// $d-blog-listing-header-text-color: $color-odysseus;
// $d-blog-listing-taxonomy-link-color: $color-penthesilea;
// $d-blog-border-bottom-color: $color-diomedes;
// $d-blog-padding-link-color: $color-patroclus;
// $d-blog-pagination-padding-top: 120px;
// $d-blog-pagination-padding-bottom: 110px;
// $d-blog-pagination-font-size: 1.25rem;
// $d-blog-pagination-padding-between-elements: 1.875rem;
// $d-blog-pagination-next-prev-element-padding: 1.25rem;
// $d-blog-pagination-padding-between-pointers: 0.625rem;
// $d-blog-pagination-border: 2px solid $d-blog-listing-taxonomy-link-color;
// $d-blog-pagination-margin-bottom: 0;
// $d-blog-listing-header-desktop-padding: 7.5rem 0 5.5rem 0;
// $d-blog-listing-header-mobile-padding: 4.5rem 0 2.5rem 0;
// $d-blog-listing-top-margin: 1.5rem;
// $d-blog-article-border: 1px solid $d-blog-border-bottom-color;
// $d-blog-sticky-article-padding-desktop: 0 30px 10px;
// $d-blog-sticky-article-padding-mobile: 0 30px;
// $d-blog-sticky-article-margin-bottom: 0;
// $d-blog-sticky-article-margin-top: 0;
// $d-blog-teaser-margin: 20px 0;
// $d-blog-teaser-text-margin-top-desktop: 30px;
// $d-blog-teaser-text-padding-left: 0;
// $d-blog-teaser-text-padding-left-mobile: 30px;
// $d-blog-margin-between-teaser-mobile: 15px;
// $d-blog-teaser-blog-post-title-mobile: 1.0625rem;
// $d-blog-read-article-font-size: 0.9375rem;
// $d-blog-title-teaser-font-size-desktop: 1.3rem;
// $d-blog-title-teaser-padding-top-desktop: 18px;
// $d-blog-listing-header-margin: 0px;
// $d-blog-teaser-text-padding-desktop-tab: 0;
// $d-blog-teaser-text-margin-desktop-tab: 43px 0;
// $d-blog-teaser-text-font-size-desktop: 1rem;
// $d-blog-read-article-margin-top-desktop-tablet: 21px;
// $d-blog-teaser-image-width-tablet-desktop: 600px;
// $d-blog-teaser-image-margin-bottom-tablet: 15px;
// $d-blog-teaser-image-row-padding-desktop: 0;
// $d-blog-teaser-title-margin-top-desktop: 100px;
// $d-blog-teaser-title-padding-desktop: 37px;
// $d-blog-teaser-title-margin-between-text-decoration-mobile: 0.75rem;
// $d-blog-teaser-min-height-desktop: 520px;
// $d-blog-teaser-image-height-desktop: 480px;
// $d-blog-margin-between-header-and-article-teasers: 1rem;
// $d-blog-field-type-image-margin: 0;
// $d-blog-article-row-min-height: 420px;


// Paragraph themes definitions.
// if "set-fields-color" is set to "true" it will add CSS rules to style color of all .fields tags,
// "text-bold" is used for setting the color for <b> and <strong> tags.
// -------------------------
// $d-p-themes: (
//   // A new Theme
//   pigy: (
//     background: pink,
//     text: yellow,
//     text-bold: orange,
//     set-fields-color: true,
//   ),
//
//   // Override Droopler Theme.
//   secondary: (
//     background: purple,
//     text: green,
//     text-bold: red,
//     set-fields-color: false,
//   ),
// );


// Paragraph spacings definitions.
// -------------------------
// $d-p-paddings: (
//   // New spacing class definition.
//   tiny: 1%,
//   // Override Droopler spacing.
//   default: 7%,
// );
//
// $d-p-margins: (
//   // New spacing class definition.
//   tiny: 1%,
//   // Override Droopler spacing.
//   small: 3%,
// );
